/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    line-height: 1.6;
}

header {
    background-color: #1f1f1f;
    color: #e0e0e0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

#navli ul {
    list-style: none;
    display: flex;
}

#navli ul li {
    margin: 0 15px;
}

#navli ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background-image: url('../../main/ultlmateark.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffffd0;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}

#ark-info {
    max-width: 800px;
    margin: 40px auto;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#ark-info h2 {
    color: #ffd744;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.info-container p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #e0e0e0;
}

.inline-image {
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin: 0 5px;
}

footer {
    background-color: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
    padding: 20px;
}

/* 반응형 디자인 */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .logo {
        font-size: 20px;
    }

    #navli ul li a {
        font-size: 16px;
    }

    .hero h1 {
        font-size: 24px;
    }

    .hero p {
        font-size: 16px;
    }

    #ark-info h2 {
        font-size: 20px;
    }

    .info-container p {
        font-size: 14px;
    }
}
