* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ffd744;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

.login-container {
    background-color: #1f1f1f;
    padding: 30px;
    margin: 2em auto;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-container label {
    display: block;
    margin-top: 15px;
    color: #e0e0e0;
    font-size: 14px;
    text-align: left; /* 왼쪽 정렬 */
}


.login-container h2 {
    color: #ffffff;
}

.login-container label {
    display: block;
    margin-top: 15px;
    color: #e0e0e0;
    font-size: 14px;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
}

.login-container button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #ff4757;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #ff6b81;
}

.login-container h3 {
    text-align: right;
    margin-top: 10px;
}

.login-container h3 a {
    color: #ffffff;
    text-decoration: none;
}

.login-container h3 a:hover {
    color: #2b3de1;
}


.error-message {
    color: #ff4757;
    font-size: 14px;
    margin-top: 10px;
}

footer {
    background-color: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .logo {
        font-size: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .login-container {
        padding: 20px;
    }
}
